p {
  font-family: Lato;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 15px;
    border-bottom:0;
    border-right: 1px solid lightgray;
    padding-right: 15px;
    background-color: lightgray;
    padding-bottom: 336px;
    margin-left:6px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
}

.nav-tabs .nav-link.active {
    color: lightgray;
    background-color:white !important;
    border-color: transparent !important;
  
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.tab-content>.active {
    display: block;
    background:lightgray;
    min-height: 165px;
     margin-left: -98px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
    background-color: lightgray;
   
}
.totaltab{
  margin-top:-6px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: green;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.vl {
  border-left: 6px solid white;
  height: 500px;
  background-color: white;
}
